@{
    ViewData["Title"] = "Finished Reservation";
}

<!DOCTYPE html>
<html>
<head>
    <title>Rezerwacja Zakończona</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
        }
        h1 {
            color: #333;
        }
        .thanks-message {
            margin-bottom: 20px;
        }
        .back-button {
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            cursor: pointer;
            text-decoration: none;
            font-size: 16px;
            border-radius: 5px;
        }
        .back-button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
<div>
    <h1>Dziękujemy za dokonanie rezerwacji!</h1>
    <p class="thanks-message">Twoja rezerwacja została pomyślnie zapisana.</p>
    <a href="/" class="back-button">Strona główna</a>
</div>
</body>
</html>